.container { display: inline-block; }

.text {
    font-size: 10px;
    border-right: 5px solid;
    width: 100%;
    overflow: hidden;
    animation:
        typing 5s,
        cursor .5s step-end infinite alternate;
}

/* cursor blinking */
@keyframes cursor {
    0% { border-color: transparent }
}

/* typing effect */
@keyframes typing {
    from { width: 0 }
}